@CHARSET "ISO-8859-1";

span.text-error {
   font-family:Arial;
   position: relative;
   padding: 0px 6px;    
   color: #912323;
   background: #F78B83;
   border: 1px solid #D95252;
   height: 20px;
   line-height: 20px;
   text-align: center;
   border-radius: 6px;
   font-size:12px;
   display:inline-block;
   #opacity:0.9;
}
span.text-error:after {
   content: '';
   position: absolute;
   top: 50%;
   right: 100%;
   margin-top: -5px;
   width: 0; height: 0;
   border-right: 5px solid #F78B83;
   border-top: 5px solid transparent;
   border-bottom: 5px solid transparent;
}
span.text-error-top:after {
   content: '';
   position: absolute;
   top: 100%;
   right: 50%;
   margin-top: 0px;
   width: 0; height: 0;
   border-top: 5px solid #F78B83;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
}