# Set log4j to be verbose during initialization
log4j.debug=false

# DEFAULT ROOTLOGGER USING CONSOLE APPENDER
log4j.rootLogger=ERROR, consoleAppender, fileAppender

log4j.appender.consoleAppender                          =org.apache.log4j.ConsoleAppender
log4j.appender.consoleAppender.layout                   =org.apache.log4j.PatternLayout
log4j.appender.consoleAppender.layout.ConversionPattern =%d{ISO8601} %-5p [%t] %c %m%n

log4j.appender.fileAppender                             =org.apache.log4j.DailyRollingFileAppender
log4j.appender.fileAppender.layout                      =org.apache.log4j.PatternLayout
log4j.appender.fileAppender.DatePattern                 ='.'yyyy-MM-dd'.log'
log4j.appender.fileAppender.File                        =stdOut.log
log4j.appender.fileAppender.layout.ConversionPattern    =%d{ISO8601} %-5p [%t] %c %m%n

# Customize Logger for PassportSessionLog
log4j.logger.PassportSessionLog=ALL, mPassportSessionLog, PassportSessionLogconsoleAppender

log4j.appender.PassportSessionLogconsoleAppender                          =org.apache.log4j.ConsoleAppender
log4j.appender.PassportSessionLogconsoleAppender.layout                 	=org.apache.log4j.PatternLayout
log4j.appender.PassportSessionLogconsoleAppender.layout.ConversionPattern =%d{ISO8601} %-5p [%t] %m %n

log4j.appender.mPassportSessionLog                           =org.apache.log4j.DailyRollingFileAppender
log4j.appender.mPassportSessionLog.layout                    =org.apache.log4j.PatternLayout
log4j.appender.mPassportSessionLog.DatePattern               ='.'yyyy-MM-dd
log4j.appender.mPassportSessionLog.File                      =//usr//local//tomcat//logs//xmlreader_log.log
log4j.appender.mPassportSessionLog.layout.ConversionPattern  =%d [%t] %-5p %c - %m%n
log4j.additivity.PassportSessionLog	                   			 =false
