BODY
{
    BACKGROUND: white;
    MARGIN: 5px 0px 0px 5px;
    FONT: 8pt Arial;
    COLOR: black
}
INPUT
{
    FONT-FAMILY: Arial, Verdana;
    FONT-SIZE: 8pt
}
P
{
    MARGIN-TOP: 0.5em;
    MARGIN-BOTTOM: 1em;
    LINE-HEIGHT: 1.5em
}
SELECT
{
    FONT-SIZE: 100%;
    FONT-FAMILY: Verdana, Arial
}
TD
{
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt
}

.aFooterLink
{
    COLOR: white;
    TEXT-DECORATION: none
}
.aFooterLinkGameMenu
{
    COLOR: black;
    TEXT-DECORATION: none
}
.aFooterLinkGameMenuOver
{
    COLOR: #003366;
    TEXT-DECORATION: none
}

.fntInfoMsg
{
    FONT-WEIGHT: bolder;
    TEXT-ALIGN: center
}
.fntInfoMsgLeft
{
    FONT-WEIGHT: bolder;
    TEXT-ALIGN: left
}
.fntInputMsg
{
    FONT-WEIGHT: bolder;
    TEXT-ALIGN: right
}
.fntInfoMsgGameMenu
{
    COLOR: black;
    FONT: Arial Bold;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: 900;
    TEXT-ALIGN: left
}

.inputField
{
    FONT-SIZE: 11px
}
.tdBorderLight
{
    BACKGROUND-COLOR: #B1B1B1;
    FONT-SIZE: 0.1mm
}
.tdBorderWhite
{
    BACKGROUND-COLOR: white;
    FONT-SIZE: 0.6mm
}
.tdTitle
{
    BACKGROUND-COLOR: #4A82AD;
    COLOR: white;
    FONT-WEIGHT: bold
}
.tdTitleLeftBorder
{
    BACKGROUND-COLOR: #4A82AD
}
.tdTitleRightBorder
{
    BACKGROUND-COLOR: #003366
}
.tdTitleBottomBorder
{
    BACKGROUND-COLOR: #003366;
    FONT-SIZE: 0.6mm
}
.trTableHeader
{
    BACKGROUND-COLOR: #4A82AD;
    COLOR: white;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center
}
.tdHdrFirstCol
{
    BORDER-RIGHT: white 0.5mm solid;
    BORDER-LEFT: #4A82AD 1mm solid
}
.tdHdrMidCol
{
    BORDER-RIGHT: white 0.5mm solid;
    BORDER-BOTTOM: medium none
}
.tdHdrLastCol
{
    BORDER-RIGHT: #4A82AD 1mm solid;
    BORDER-BOTTOM: medium none
}
.tblTableData
{
    CURSOR: default
}
.tdFirstCol
{
    BORDER-RIGHT: #4A82AD 0.5mm solid;
    BORDER-LEFT: #4A82AD 1mm solid
}
.tdFirstColLoss
{
    BORDER-RIGHT: #4A82AD 0.5mm solid;
    BORDER-LEFT: #4A82AD 1mm solid;
    COLOR: #cc0000
}
.tdMidCol
{
    BORDER-RIGHT: #4A82AD 0.5mm solid
}
.tdMidColLoss
{
    BORDER-RIGHT: #4A82AD 0.5mm solid;
    COLOR: #cc0000
}
.tdMidColWarning
{
    BORDER-RIGHT: #4A82AD 0.5mm solid;
    COLOR: #cc0000
}
.tdLastCol
{
    BORDER-RIGHT: #4A82AD 1mm solid
}
.tdLastColLoss
{
    BORDER-RIGHT: #4A82AD 1mm solid;
    COLOR: #cc0000
}
.trRowEven
{
    BACKGROUND-COLOR: white
}
.trRowOdd
{
    BACKGROUND-COLOR: #CCEBFF
}
.trRowSelected
{
    BACKGROUND-COLOR: #CCCCCC
}
.trRowEvenNews
{
    BACKGROUND-COLOR: white
}
.trRowOddNews
{
    BACKGROUND-COLOR: #CCCCCC
}
.tblFooter
{
    BORDER-BOTTOM: #4A82AD 0.5mm solid;
    BORDER-TOP: #4A82AD 0.5mm solid;
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-WEIGHT: bold
}
.tdFooterLine
{
    BACKGROUND-COLOR: #4A82AD;
    FONT-SIZE: 3pt
}
.tdFooterGreyBG
{
    BACKGROUND-COLOR: #999999;
    TEXT-ALIGN: center
}
.tdFooterColLoss
{
    COLOR: #990000;
    FONT-WEIGHT: normal
}
.tdFooterColLossNormal
{
    COLOR: #990000
}
.clsCopyrightBasic
{
    COLOR: #999999;
    FONT-SIZE: 7.5pt;
    TEXT-ALIGN: center
}
.clsSectionHeader
{
    BACKGROUND-COLOR: #003366;
    COLOR: white;
    CURSOR: default;
    FONT-WEIGHT: bold
}
.tblPrtfView
{
    BACKGROUND-COLOR: #4A82AD;
    BORDER-COLOR: #B1B1B1;
    COLOR: white
}

.clsRepRowEven
{
    BORDER-RIGHT: #4A82AD 0.5mm solid;
    BORDER-TOP: #4A82AD 0.5mm;
    FONT-WEIGHT: lighter;
    BORDER-LEFT: #4A82AD;
    COLOR: black;
    BORDER-BOTTOM: #4A82AD;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
.clsRepRowOdd
{
    FONT-WEIGHT: lighter;
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #b2e3ed
}
.clsRepHeader
{
    BORDER-RIGHT: #4A82AD thin;
    BORDER-TOP: #4A82AD thin;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #4A82AD thin;
    COLOR: white;
    BORDER-BOTTOM: #4A82AD thin;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #4A82AD;
    TEXT-ALIGN: center
}
.clsRepFirstCol
{
    BORDER-RIGHT: white 0.5mm solid;
    BORDER-TOP: medium none;
    BORDER-LEFT: #4A82AD 1mm solid;
    BORDER-BOTTOM: medium none;
}
.clsRepMidCol
{
    BORDER-RIGHT: white 0.5mm solid;
}
.clsRepLastCol
{
    BORDER-RIGHT: #4A82AD 1mm solid;
}
.fntBigBlack
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11pt;
    COLOR: darkslategray;
    FONT-FAMILY: Arial, 'Times New Roman'
}
.fntBigRed
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 16pt;
    COLOR: #990000;
    FONT-FAMILY: 'Times New Roman', Arial
}
.clsCliHeader
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: white;
    TEXT-INDENT: 3mm;
    FONT-FAMILY: Arial, Tahoma, Verdana;
    BACKGROUND-COLOR: #4A82AD
}
.clsCliDtlLbl
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial, Tahoma, Verdana;
    TEXT-ALIGN: right
}
.clsCliDtlInput
{
    TEXT-ALIGN: left
}
