/*====GENERAL : START========================================*/
body {
	margin-left: 0px;
	margin-top: 0px;
}

#apDiv1 {
	display:none;
	position:absolute;
	left:1208px;
	top:141px;
	width:223px;
	height:241px;
	z-index:6;
}

#apDiv2 {
	display:none;
	position:absolute;
	left:8px;
	top:141px;
	width:223px;
	height:241px;
}

.style1 {	font-family: Verdana, Arial, Helvetica, sans-serif; color: #832038; font-size: 11px; }
.style3 {	font-family: Arial, Helvetica, sans-serif; }
.iconSpacing { padding: 8px; }

.siteMapTable {
	height: 150px;
	background-color: #f6f3ec;
	padding-top: 1px;
}

.hrBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
.hrBold2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
/*====GENERAL : END========================================*/

/*====CONTENT : START========================================*/
.Content   { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none; }
.Content2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-indent: 1px; color: #666666; text-decoration: none }
a.Content2:visited {  }
.Content3 { 			font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; text-decoration: none; }
.Content4 {			font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; text-decoration: none; }
a.Content4:link {		}
a.Content4:visited {		}
a.Content4:hover {	color: #AD0C21; }
.Content5   { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none; }
a.Content5:link {	color: #ED1823;	}
a.Content5:visited {	color: #ED1823;	}
a.Content5:hover {	color: #ED1823; }

.Content_white { 		font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-align: justify; color: #FFFFFF; font-weight: normal; text-decoration: none; }
.Content_white_bold { 	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; font-weight: bold; text-decoration: none; }
.Content_white_bold a{ 	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; font-weight: bold; text-decoration: none; }
.Content_white_bold2 { 	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; font-weight: bold; text-decoration: none; }

.Contentbold { 			font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; text-decoration: none; font-weight: bold; }
.content_bold_grey_10px { font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; text-align: justify; }
a.content_bold_grey { 	color: #ED1823; text-decoration: none; }

.maroon { 			font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #790008; font-weight: normal; }
a.maroon:link { 		font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #790008; font-weight: normal; text-decoration: none;	}
a.maroon:visited {	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #790008; font-weight: normal; text-decoration: none; }
a.maroon:hover {		font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ED1C24; font-weight: normal; text-decoration: none; }

.maroon2{ 			font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ED1C24; font-weight: normal; text-decoration: none; }
a.maroon2:link { 	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ED1C24; font-weight: normal;text-decoration: none; }
a.maroon2:hover { 	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #790008; font-weight: normal; text-decoration: none; }

.maroon3{ 			font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #832038; font-weight: normal; text-decoration: none; }
.maroon4 { 			font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ED1C24; font-weight: bold; text-decoration: none;}
.maroon5 { 			font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #790008; font-weight: bold; text-decoration: none;}
.maroon_bold {		font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ED1C24; /*font-weight: bold;*/ text-decoration: none; }
.grey { 				font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; font-weight: normal; }
/*====CONTENT : END========================================*/

/*====SIDE : START==========================================*/
.Side_nv_title {		font-family: "HelveticaNeue Condensed", Arial;    font-size: 16px; color: #700019; font-weight: bold; text-decoration: none; text-indent: 1px; }
.Side_nv_title2 {	font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #700019; font-weight: bold; text-decoration: none; text-indent: 1px; }
.Side_nv_title3 { 	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ED1823; text-decoration: none; font-weight: bold; }
.Side_nv_titleWhite { 	font-family: "HelveticaNeue Condensed", Arial; font-size: 16px; color: #FFFFFF; font-weight: bold; text-decoration: none; text-indent: 1px; }
.Side_nv_titleWhite2 {	font-family: "HelveticaNeue Condensed", Arial; font-size: 16px; color: #FFFFFF; font-weight: bold; text-decoration: none; text-indent: 1px; }
.Side_nv_titleGrey { 	font-family: "HelveticaNeue Condensed", Arial; font-size: 16px; color: #666666; font-weight: bold; text-decoration: none; text-indent: 1px; }

a.Side_nv_sub {		 	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold; text-decoration: none; }
a.Side_nv_sub:hover {	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #990000; font-weight: bold; text-decoration: none; }

.side_navi_mr {	font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #0099CC; text-decoration: none; font-weight: bolder; }
.side_bold_mr { 	font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #990000; text-align: justify; font-weight: bold; }

.side_bold_10 { 			font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; text-align: justify; font-weight: bold; }
a.side_bold_10		{	font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; font-weight: bold; text-decoration: none; }
a.side_bold_10:link {	 text-decoration: none;	}
a.side_bold_10:visited {	 text-decoration: none;	}
a.side_bold_10:hover {	 text-decoration: none; color: #AD0C21; }


a.side		{		font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; text-decoration: none; }
a.side:link {		}
a.side:visited {		}
a.side:hover {		color: #AD0C21; }

a.side2		{		font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; text-decoration: none; }
a.side2:link {		}
a.side2:visited {		}
a.side2:hover {		color: #AD0C21; }
/*====SIDE : END============================================*/

/*====FORM : START========================================*/
.form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	width: 28px;
	height: 20px;
	vertical-align: top;
	background-color: #999999;
}
.jumpmenu_bold {		font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #7f7f7f; font-weight: bold; width: 220px; text-align: justify; display: inline; }
.jumpmenu_top {		font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #6D0112; font-weight: bold; width: 100px; text-align: justify; }
.jumpmenu_side1 { 	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; font-weight: normal; width: 140px; text-align: justify; display: inline; }
.jumpmenu_login { 	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; font-weight: normal; width: 170px; text-align: justify; display: inline; }

.inputBox {			font-family:Arial; font-size:11px; border:1px solid #999999; }
.inputBox_num {		font-family:Arial; font-size:11px; text-align:right; }
.inputBox_num_bold{	font-family:Arial; font-size:11px; text-align:right; font-weight: bold; }

.button-on {		font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; font-weight: bold; text-decoration: none; }
.button-off {	font-family: Arial, Helvetica, sans-serif, Verdana; font-size: 10pt;color: #ec1924; font-weight: bold; text-decoration: none; }
.sub_button-off{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #3E0010; font-weight: 400; text-decoration: none; }
.sub_button-on {	font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; font-weight: 400; text-decoration: none; }
/*====FORM : END========================================*/


/*====FOOTER : START========================================*/
.bottom_maroon { 	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ED1C24; text-decoration: none; }
.bottom_grey {			font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; text-decoration: none; }
a.bottom_grey:hover 	{ 	text-decoration: underline; }
a.bottom_grey:link 	{ 	text-decoration: none}
a.bottom_grey:visited {  }

.Footer_link {	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: grey; text-decoration: none; }
.Footer_link_White {	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: white; text-decoration: none; vertical-align: middle; margin-top : 0px; margin-bottom : 0px; padding-top: 0px;}
.Footer_linkwh {	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; font-weight: normal; }
.footerText{      color:white; font-family:Arial,Helvetica,sans-serif; font-size:11px; white-space:nowrap; }
/*====FOOTER : END========================================*/
